/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

div.container {
    max-width: 70em;
    margin: auto;
    background-color: #FFFFFF;
  }

main{
    display: grid;
    grid-template-columns: 50% 50%;
}

figure {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: start;
  margin: 0em;
}

h1 {
	background-color: #ff9500;
	color: #FFFFFF;
	font-size: 2.1em;
	padding: 2em 0.70em 0.2em;
    font-family: Sutro, serif;
	font-weight: 700;
	text-transform: normal;
}

h2 {
	background-color: #ff9500;
	color: #fce9cc; /* Same as body background. */
	font-size: 1.6em;
	padding: 0.2em 0.9em 1em;
	font-family: Sutro, serif;
	font-weight: 300;
}

h3 {
  border-top: 2px solid #ff9500;
	margin: 2em 1.9em 0.25em;
  padding: 0.5em 0em .5em;
	font-size: 1.3em;
	color: #ff9500;
    font-family: Sutro, serif;
	font-weight: 300;
    font-style: normal;
	text-transform: uppercase;
    letter-spacing: 0.1em;
}

figcaption {
	  margin: 1.5em 2em 1.1em;
    font-size: 1em;
    color: #000000;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 1.5em;
  }
body {
    background-color: #e0e0e0; 
    color: #000000;
    font-size: 1.05em;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

ul {
  margin: 0.5em 2.5em 1.1em; 
  line-height: 1.4em; 
}

ul li {
  margin-bottom: 1em; 
}

ol {
  margin: 0.5em 2.5em 1.1em; 
  line-height: 1.4em; 
}

ol li {
  margin-bottom: 1em; 
}

footer {
  background-color: #ff9500;  
  color: #FFFFFF;                     
  padding: 1.5em;              
  margin-top: 6em;             
  font-size: 1em;
              
}
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
