/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(harvest&table3.jpg) center center fixed
	background-size: cover;
	position: relative;
	min-height: 100vh;
	background-color: #ff0000;
	max-width: 75rem;
	margin: auto;
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 75rem;
	margin: auto;
	background-color: #ffffff;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 1em 2em 4em;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
	display: grid;
	grid-template-columns: auto 1fr;
	background: #c0c0c0;
	padding: 1em .5em;
	}

body{
	font-family: sans-serif;
	background-color: #ff0000;

}

h1 {
	width: 20rem;
	margin-top: 1rem;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 2rem;
	margin: 1rem 0rem 0.5rem;
	font-family: 'Trebuchet MS';

	}
	
h3 {
	font-size: 1.4rem;
	margin: 1rem 0em 1rem;
	font-family: 'Trebuchet MS';

}

h4 {
	font-size: 1.2rem;
	margin-bottom: 0.25rem;
	font-family: 'Trebuchet MS';
	}

a {
	text-decoration: none;
	font-family: 'Trebuchet MS';
}

nav ul  {
	text-align: right;
	}

ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 2rem;
	border-radius: 0.5rem;
}

main.menu ul {
	margin: 1rem 0rem 1rem;
}	

main.menu ul li {
		margin: 2rem 0rem 2rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1rem 0rem 1rem;
	font-family: 'Georgia';
	}
	
p.description {
	grid-column: 1/3;
	grid-row: 2/3;
	margin: 0rem;
	padding-bottom: 0rem;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: #b59410;
	text-align: right;
	margin: 0em;
}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1.6rem;
	font-size: 1.1rem;

	}
	
nav ul li a {
	color: #ffffff;
	background-color: #000000;
	padding: 0.5em;
	border-radius: 0.5rem;

	}
	
nav ul li.selected a { 
	background-color: #b59410;
	color: #ffffff;
	border-radius: 0.5rem;
	}

p.slogan {
	font-size: 3.8rem;
	font-family: 'Georgia';
	font-style: italic;
	margin: 4rem 0em 6rem;
	color: #000000;	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  background: #b59410;
}

address {
	color: #000000;
	font-family: 'Georgia';
	}

footer p {
	margin: 0;
}

article {
	max-width: 50rem;
	margin: 2rem auto;
}

.italic {
  font-style: italic;
}

@media screen and (min-width: 60em){

	nav ul li{
		display: inline;
		font-size: 1.5rem;
	}
	
	nav{
		margin-top: 2rem;
	}

	main.menu ul {
		display: grid;                
    	grid-template-columns: 1fr 1fr; 
    	gap: 0rem 1rem;             
  }

	h1 {
	width: 20rem;
	margin-top: 0rem;
	}
	}
	